{% extends 'base.html' %}

{% block title %}Stock Portfolio{% endblock %}

{% block content %}
<h1>Post</h1>
<ul>
    {% for post in object_list %}
        <li> <a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a>-{{ post.author }}-{{post.post_date}}-<a href="{% url 'update_post' post.pk %}">Edit Post</a>-<a href="{% url 'delete_post' post.pk %}">Delete Post</a><br/>
        {{ post.body }}</li>
    {% endfor %}
</ul>

<!-- {% if ticker %}
    {{ticker}}
{% endif %}

{% if api %}
    {% if api == "Error..."%}
        There was a problem with your ticker symbol, please try again... 

    {% else %}
        <h1>{{api.companyName}}</h1><br/>
        <h1>${{api.latestPrice}}</h1><br/>
        <h1>{{api.previousClose}}</h1><br/>
        <h1>{{api.marketCap}}</h1><br/>
        <h1>{{api.ytdChange}}</h1><br/>
        <h1>{{api.week52High}}</h1><br/>
        <h1>{{api.week52Low}}</h1><br/>


        {% for key, value in api.items %}
            {{key}}:{{value}}<br/>
        {% endfor %} 

    {% endif %}
{% else %}

{% endif %} -->
{% endblock %}